<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>spring boot practice</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">Home</a>
        <div th:if="${user != null}" class="nav-users" style="color: white">
            안녕하세요, <span th:text="${user.username}">사용자명</span>님!
        </div>
        <div class="nav-links">
            <ul>
                <li class="nav-item">
                    <a th:href="@{/login}" class="btn" sec:authorize="isAnonymous()">로그인</a>
                    <a th:href="@{/logout}" class="btn" sec:authorize="isAuthenticated()">로그아웃</a>
                    <a th:href="@{/signup}" class="btn">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <th:block th:replace="~{${view} :: content}" />
</main>
</body>
</html>
